.ChatGroupQueue{
    min-width: 30%;
    min-height: 25vh;
    text-align: center;
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
    box-shadow: grey 0px 5px 10px 5px;
    margin: 2vh 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding:2%;
    cursor: pointer;
}

.groupName{
    margin-left: 5%;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
}

.chatGroupShortSummary{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:auto;
}

.ChatGroupQueue > span:last-child {
  margin-left: auto;
}

.circle:hover{
    border: 0.5px solid black;
}